@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

treechildren::-moz-tree-cell-text(kf-nonmatch) {
    color: #888888;
}

#keeperfinder-toolbar-button
{
  list-style-image: url("chrome://keeperfinder/skin/images/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#keeperfinder-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #keeperfinder-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #keeperfinder-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}

#keeperFinderPane-deck {
    padding: 5px 5px 0px 5px;
}
#keeperFinder-mainSplitter {
    border-top: none;
}

tree.keeperfinder-facet-valuesContainer {
    margin: 0;
    padding: 0;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}

splitter.keeperfinder-facetContainer-splitter {
    border-left: none;
    border-right: none;
}

.keeperFinder-facet-header label {
    cursor: move;
}

.keeperFinder-facet-header-closeButton {
    background: url("chrome://keeperfinder/skin/images/cross.png") center center no-repeat;
    width:      20px;
    cursor:     pointer;
}
.keeperFinder-facet-header-closeButton:hover {
    background: url("chrome://keeperfinder/skin/images/cross_over.png") center center no-repeat;
    border: none;
}
.keeperFinder-facet-header-closeButton:active {
    background: url("chrome://keeperfinder/skin/images/cross_pressed.png") center center no-repeat;
}

#keeperFinderPane-browsingLayer-textSearch-pastEntry-remove {
    background: url("chrome://keeperfinder/skin/images/cross.png") center center no-repeat;
    width:      16px;
    height:     16px;
    cursor:     pointer;
}

#keeperFinderPane-browsingLayer-textSearch-pastEntry-remove:hover {
    background: url("chrome://keeperfinder/skin/images/cross_over.png") center center no-repeat;
    cursor:     pointer;
}

#keeperFinderPane-browsingLayer-textSearch-pastEntry-remove:active {
    background: url("chrome://keeperfinder/skin/images/cross_pressed.png") center center no-repeat;
    cursor:     pointer;
}

.keeperFinderPane-group {
    background:     #ddd;
    margin-bottom:  7px;
    padding:        0px 3px;
}

.keeperFinderPane-groupLabel {
    font-weight: bold;
}
