@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

treechildren::-moz-tree-cell-text(kf-match) {
    text-decoration: underline;
}

#keeperfinder-toolbar-button
{
  list-style-image: url("chrome://keeperfinder/skin/images/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#keeperfinder-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #keeperfinder-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #keeperfinder-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}

#keeperFinderPane-deck {
    padding-left: 5px;
    padding-top: 5px;
}
#keeperFinder-mainSplitter {
    border-top: none;
}

tree.keeperfinder-facet-valuesContainer {
    margin: 0;
    padding: 0;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}

splitter.keeperfinder-facetContainer-splitter {
    border-left: none;
    border-right: none;
}

.keeperFinder-facet-header {
    cursor: move;
}
.keeperFinder-facet-header label {
    cursor: move;
}