a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

div.seek-facet-quickFilter {
    padding:    2px;
    margin:     2px 0px;
    background: white;
}
.seek-facet-quickFilter input {
    border:     none;
    font-size:  8pt;
    width:      100%;
}

.seek-facet-quickFilter input.seekPane-hintedTextbox-empty {
    color:  #aaa;
}
